/*===================
  Decriptive names
===================*/

$white: #FFFFFF;
$black: #1B1B1B;

$grey-white: #F9F9F9;
$grey-very-very-light: #F1F2F5;
$grey-very-light: #E7E9EE;
$grey-lighter: #D9DCE2;
$grey-light: #AAB4C4;
$grey: #606269;
$grey-dark: #2E3542;

$blue-grey-lighter: #DBECF3;
$blue-grey-light: #C9E0E9;

$blue-very-light: #E7F7FB;
$blue-lighter: #DCF3F9;
$blue-light: #A1DFEF;
$blue: #13AFD7;
$blue-darker: #191D24;

$red-light: #F9C2C2;
$red: #F06666;
$red-dark: #CC2F2F;

$orange: #EF681F;
$orange-dark: #FD5508;

$amber-light: #F9E5BB;
$amber: #F1BE55;

$green-light: #D9E7C3;
$green: #A1C269;

$purple-light: #CABAE2;
$purple: #9575C5;

$pink-light: #ff69b4;
$pink: #ffb6c1;