#header {
  z-index: $zindex-header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}


.header-menu {

  h1 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;


    box-sizing: border-box;
    border-bottom: 1px solid $grey-light;

    margin: 0;
    padding: 0;
    text-align: center;

    &:after {
      font-size: 14px;
      content: "↓";
    }
  }

  .options {
    // display: none;
    background-color: $blue-light;
    position: absolute;
    width: 100%;

    top: auto;
    bottom: 0px;

    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid $grey-light;
  }

  &.is-open {
    h1{
      &:after {
        font-size: 14px;
        content: "↑";
      }
    }

    .options {
      top: 60px;
      bottom: auto;
    }
  }
}
