<div id="header"></div>

<div id="container">
  {{outlet}}

  <br><br>
  <nav>
    {{link-to 'people' 'people'}} | {{link-to 'contact' 'contact'}}
  </nav>

</div>

{{side-menu}}

<div id="plus-button"></div>
