<div class="toggle" {{action 'toggle'}}>
  <i>{{#if isOpen}}-{{else}}+{{/if}}</i>
</div>

<div class="pulses">
  <i class="one"></i>
  <i class="two"></i>
  <i class="three"></i>
</div>

{{#if hasBlock}}
  <div class="options">
    {{yield}}
  </div>
{{/if}}
